* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: #455e6c;
    display: grid;
    grid-template-areas:
    ". logo ."
    "sidenav content advert"
    "sidenav footer advert"
    "sidenav footer2 advert"
    ;
}

header {
    grid-area: logo;
}

button {
    padding: 20px;
    margin: 10px;
    box-shadow: 1px 2px 2px black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 20px;
    background-color: #E4DAD9;
}

button:hover{
    background-image: linear-gradient(#E4DAD9, #b1a7a6);
    cursor: pointer;
    transform: translateY(-5px);
}

h1 {
    width: 100%;
    text-align: center;
    text-shadow: 2px 0 0 black, -2px 0 0 black, 0 2px 0 black, 0 -2px 0 black, 4px 4px black, -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black;
    color: #ff9b29;
    font-size: 40px;
}

h2 {
    margin-top: auto;
    width: 100%;
    text-align: center;
    color: #ff9b29;
    font-size: 32px;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

h3 {
    margin-top: auto;
    width: 100%;
    text-align: center;
    color: #ff9b29;    
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

figure {
    display: grid;
    justify-items: center;
    width: 200px;
}

figcaption {
    width: 100%;
    text-align: center;
    color: #ff9b29;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
    border-radius: 20px;
    padding: 5px;
}

p {
    margin: 5px 0px 5px 0px;
    font-weight: bold;
    font-size: 14px;
    white-space: pre-wrap;
}

a, a:visited, a:hover, a:active {
    color: inherit;
}

.person-credit {
    display: flex;
    width: 100%;
}

.person-credit img {
    height: 150px;
    width: 150px;
    border-radius: 10%;
    border: 1px solid;
}
.person-credit h3 {
    font-size: 24px;
}

.person-info {
    display: grid;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}
.person-info ul {
    background-color: #e4dad9;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.person-info h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.person-social {
    display: flex;
}
.person-social img{
    height: 30px;
    width: auto;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
}

.floating-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 2px black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 25px 50px;
    background-color: #2A2D34;
    margin: 20px;
    color: #ff9b29;
    text-shadow: 1px 0 0 black, -1px 0 0 black, 0 1px 0 black, 0 -1px 0 black, 1px 1px black, -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black;
}

#interface {
    justify-content: center;
    width: 100%;
    grid-area: content;
}

#game-container{
    display: none;
    text-align: center;
}

#question h3 {
    margin: 0px 0px 20px 0px;
}
#question img {
    margin-bottom: 20px;
}
#question-options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

#end-screen {
    display: none;
}

.wrong {
    background-color: #831e1e;
}
.wrong:hover {
    background-image: linear-gradient(#831e1e, #831e1e);
}

.correct {
    background-color: #14751d;
}
.correct:hover {
    background-image: linear-gradient(#14751d, #14751d);
}

#main-menu {
    margin-top: 30px;
    display: grid;
    align-items: center;
    justify-items: center;
}
#main-menu button {
    width: 250px;
    font-weight: bold;
    margin: 20px;
}

#instructions {
    display: none;
    text-align: center;
}
#instructions p {
    text-align: justify;
    line-height: 1.5;
    width: 100%;
    margin: 10px;
}

#options {
    display: none;
    text-align: center;
}
#options input {
    width: 75%;
}
#options p {
    font-weight: bold;
    font-size: 20px;
}

.option-container{
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#credits {
    display: none;
    flex-direction: column;
    align-items: center;
}

#select-category {
    display: none;
    flex-direction: column;
    align-items: center;
}

#select-category-options{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 0.5fr));
    grid-gap: 20px;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
}
#select-category-options button{
    width: inherit;
}

.person-social button{
    background-color: transparent;
    margin: 0px;
    padding: 0px;
    box-shadow: none;
    border: none;
    margin: 10px;
}
.person-social button:hover{
    background-image: linear-gradient(transparent, transparent);
}